@font-face{
  font-family:'Campton Book';
  src:url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/4f3bad58-5f06-4a10-b3a1-0243c8b6eb3c.eot?#iefix')format('embedded-opentype'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/67b0b0ae-fe9f-4c2a-8673-6a697b81e659.woff2') format('woff2'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/f4a8087d-b3f5-4f7a-83ec-4717e0d529ad.woff') format('woff');
}
@font-face{
  font-family:'Campton Medium';
  src:url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/0f18a329-6b43-48ac-ae7f-5b62550c5287.eot?#iefix') format('embedded-opentype'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/2e9a3801-e1f5-4731-9d9b-86ba7ca425b9.woff2') format('woff2'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/ca3a70c8-d6a1-46d3-997c-4a26498eefa9.woff') format('woff');
}
@font-face{
  font-family:'Campton Semibold';
  src:url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/18d3acce-a873-4c89-902a-7b6881046eb9.eot?#iefix') format('embedded-opentype'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/3b761789-0e3a-46dd-bd82-6a5538271dd5.woff2') format('woff2'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/5ee11613-bc94-479b-bf86-5b2b6a68f55d.woff') format('woff');
}
@font-face{
  font-family:'Campton Bold';
  src:url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/1135848a-60f1-41bb-ae83-489e675c354a.eot?#iefix') format('embedded-opentype'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/58644108-1106-4300-a81f-1a368c608e27.woff2') format('woff2'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/d01b7dbc-e431-40e4-a193-e4050a6b945d.woff') format('woff');
}
@font-face {
  font-family: 'Lyon Text';
  src: url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/LyonText-RegularNo2-Web.eot?#iefix') format('embedded-opentype'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/LyonText-RegularNo2-Web.woff2') format('woff2'),
  url('https://deskpass-assets.s3.amazonaws.com/emails/fonts/LyonText-RegularNo2-Web.woff') format('woff');
}
