.newsletter-subscribe form {
  text-align:center;
}

.newsletter-subscribe form .form-control {
  background:#FFFFFF;
  border:none;
  border-radius:4px;
  box-shadow:none;
  outline:none;
  color:inherit;
  text-indent:10px;
  height:64px;
  margin-right:16px;
  min-width:240px;
  font-size:16px;
  color:#000;
}

.newsletter-subscribe form .btn {
  padding:24px 24px;
  border:none;
  background:none;
  box-shadow:none;
  text-shadow:none;
  font-size:16px;
  letter-spacing:0.4px;
  line-height:1;
  font-weight:500;
  font-family:'Campton Semibold', Helvetica Neue, Helvetica, Arial, sans-serif;
}

.newsletter-subscribe form .btn:hover {
  opacity:1;
}

.newsletter-subscribe form .btn:active {
  transform:translateY(1px);
}

.newsletter-subscribe form .btn-primary {
  background-color:#f05f5a !important;
  color:#fff;
  outline:none !important;
}

